body {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-image: url("../images/pattern.png");
	background-repeat: repeat;
}

.bg-primary {
	background-color: #9d8eb6 !important;
}

.jumb-img {
	background: url("../images/carousel3.jpg") no-repeat fixed;
}

.jumbotron-detail-apple-pie {
	background: url("../images/products/applepie.jpg") no-repeat fixed;
	align-items: center;
}

.jumbotron {
	height: 40vh;
	background-size: cover;
}

.algo {
	vertical-align: middle;
}

.carousel-item {
	height: 32rem;
	max-width: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
